@media (min-width: 1500px) {
    .container-fluid {
        margin-right: 0px;
        margin-left: 110px;
        height: 100%;
        overflow-y:hidden;
    }
    .tips-card-h{
        width:350px;
        padding-left:20px;
    }
    .tips-card-v{
        width:470px;
    }
}


body {
    font-family: 'Roboto', sans-serif;

    background-image: url("/public/images/background.jpg");
    background-position: center;
    background-size: 100%;
}
.table>tbody>tr>td {
    padding: 0px;
}

h4 {
    color: #D84315;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

table {
    border: 3px solid black;
}
th, td {
    border: 3px solid grey;
}

.form-group {
    margin-bottom: 0px;
    width: 75px;
    height: 75px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

td.my-td{
    width: 10px;
}

.cross-table {
    width: auto;
    background-color: white;
}

.black-box {
    background-color: black;
}

.box {
    border: 2px solid none;

}

input[type=text] {
    height: 58px;
    color:black;
}

input.correct {
    color:green;
}

input.incorrect {
    color:red;
}

.tip-selected {
    border-color:#009688;
    border-style: solid;
    /*background-color: #009688;*/
    color: black;
}

.card {
    background: #BDBDBD;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    padding: 7px 7px 7px 7px;
    text-align: justify;
}

html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.word-on-play {
    background-color: #FFAB91;
}

.swal-left{
    position: absolute !important;
    left: 500px !important;
}