<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ThalamusSpeechClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ThalamusSpeechServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ThalamusSpeechClient.Properties.Settings>
            <setting name="Voice" serializeAs="String">
                <value>IVONA 2 Cristiano</value>
            </setting>
            <setting name="SpeechRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TTSEngine" serializeAs="String">
                <value>Windows</value>
            </setting>
        </ThalamusSpeechClient.Properties.Settings>
        <ThalamusSpeechServer.Properties.Settings>
            <setting name="Voice" serializeAs="String">
                <value>Brian</value>
            </setting>
            <setting name="SpeechRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LocalPort" serializeAs="String">
                <value>2003</value>
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>2002</value>
            </setting>
            <setting name="RemoteAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="TTSEngine" serializeAs="String">
                <value>Windows</value>
            </setting>
        </ThalamusSpeechServer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
