<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NuttyJsonStream.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NuttyJsonStream.Properties.Settings>
            <setting name="OutputAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="OutputPort" serializeAs="String">
                <value>7884</value>
            </setting>
            <setting name="InputPort" serializeAs="String">
                <value>7885</value>
            </setting>
        </NuttyJsonStream.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
