<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NuttyThalamus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NuttyThalamus.Properties.Settings>
            <setting name="ThalamusCharacter" serializeAs="String">
                <value />
            </setting>
            <setting name="NTPLuginJOSAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="NTPluginJOSLocalPort" serializeAs="String">
                <value>7884</value>
            </setting>
            <setting name="OutputType" serializeAs="String">
                <value>NuttyOutput</value>
            </setting>
            <setting name="NuttyBodyModel" serializeAs="String">
                <value />
            </setting>
            <setting name="NuttyOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="Activated" serializeAs="String">
                <value>True</value>
            </setting>
        </NuttyThalamus.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
