<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Skene.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BehaviorPlanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <Skene.Properties.Settings>
            <setting name="LastUsedSetup" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TargetsFile" serializeAs="String">
                <value />
            </setting>
            <setting name="UtteranceLibrariesDirectory" serializeAs="String">
                <value>..\..\..\Utterances</value>
            </setting>
            <setting name="UtteranceValidatorsDirectory" serializeAs="String">
                <value>..\..\..\Utterances\ValidationSets</value>
            </setting>
            <setting name="UtteranceValidationSet" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCompositeLibrary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedLibrary" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultGazeSpeed" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="QuestionsFinishEventDelaySeconds" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="UseUtteranceRelativeSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UtteranceRelativeSpeed" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="StripSlashes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TestTags" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>coiso</string>
                        <string>asdasd</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BackchannelingCategory" serializeAs="String">
                <value />
            </setting>
            <setting name="UtteranceTimeoutMs" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="UtterancesSafeDurationSeconds" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UseUtterancesSafeDuration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ZTrackingCompensation" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="YTrackingCompensation" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="PerformEstablishingGaze" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PerformGazeBreaking" serializeAs="String">
                <value>True</value>
            </setting>
        </Skene.Properties.Settings>
        <BehaviorPlanner.Properties.Settings>
            <setting name="LastUsedSetup" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TargetsFile" serializeAs="String">
                <value />
            </setting>
        </BehaviorPlanner.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>
